<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Envío de Acuse de recibo exitoso</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="bg-gray-100 py-20 px-10 ">
  <div class="container-fluid mx-auto p-20 grid grid-cols-1 max-sm:p-5 max-w-2xl mx-auto px-4 py-8 bg-white shadow-lg rounded">
    <h1 class="text-2xl font-bold mb-4">El Acuse de recibo se envió con exito por Email</h1>
    <p class="mb-4">¿Quieres realizar un nuevo Acuse de recibo?</p>
    <a href="/acuse_de_recibo.pdf" download class="text-white text-center py-5 px-10 bg-blue-300 rounded font-bold ">Descargar el PDF</a>
    <a href="/" class="text-white text-center py-5 px-10 bg-red-500 rounded mt-5 font-bold">Volver al formulario</a>
  </div>
</body>
</html>